@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #EDA751;
}

.box{
    /*Box size*/
    width: 1265px;
    height: 822px;
    
    /* Box style*/
    background-color: white;
   
    /*Box aling*/
    margin-top: 22px;
    margin-left: 50px;
    margin-bottom: 25px;
    border-radius: 28px;

    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
}

.container-header{
    /*text-nav aling*/
    display: flex;
    align-items: center;
    gap: 290px;

    /*Nav aling*/
    margin-top: 28px;
    margin-left: 119px;
    margin-bottom: 7444px;
    margin-right: 123px;

    /*Nav size*/
    position: absolute;
    width: 1198px;
    height: 50px;
    left: 119px;
    top: 28px;
}

.title{
    /*font style*/
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #EDA751;
}

.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

}